body{
   width: 100%;
   background-image: url(xd.png);
   position: relative;
}

#Naglowek{
	width: 100%;
	height: 100px;
	background-color:silver ;
	clear: both;
	font-size: 5;
	
}

#Baner{
	background-color: gray;
	text-align: center;
	height: 300px;
}

#Menu{
	float: left;
	width: 35%;
	background-color: whitesmoke;
	height: 750px;
	clear: both;
	text-align: center;
	color: blue;
}

#Stopka{
	width: 100%;
	background-color: silver;
    font-size: 6;
    height: 80px;
    float: left;
}